@model PreSkool_project.Models.Salary

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 page_title">
                    <div>
                        <h2>Edit Salary</h2>
                    <p class="d-none d-sm-block"><a asp-controller="Salary" asp-action="index">Salaries</a> / Edit Salary</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <div class="card_body">
                        <form asp-controller="Salary" asp-action="Edit" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <h2><span>Salary Information</span></h2>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label asp-for="Title" class="form-label">Title</label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label asp-for="CustomUserId" class="form-label">User ID</label>
                                    <select asp-for="CustomUserId" class ="form-control" asp-items="ViewBag.CustomUserId">
                                        <option selected disabled>Select User </option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label asp-for="Amount" class="form-label">Amount</label>
                                    <input asp-for="Amount" type="number" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="CreatedDate" />
                            <button type="submit" class="btn btn_submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>